<div class="home">
    <h1><%= current_user.username.capitalize %>'s Notes</h1><br>

    

    <div class="list">
        <% if current_user.notes.empty? %>
            <a href="/notes/new">Take some notes!</a><br><br>
        <% else %>
            <% current_user.notes.each do |note| %> 
                <div class="note-content"><a href="/notes/<%= note.id %>"><%= note.title %></a> | <%= note.ts.localtime %> | <%= Tag.find(note.tag_id).name %></div><br>
            <% end %>
        <% end %>
    </div>
</div>
